################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/2de490c8-1e26-4104-80d9-c842f2b0aab3.vsidx
/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/5dab42c0-234e-4954-b525-d925e08473a9.vsidx
/Wacom/WacomFileManager/.vs/WacomFileManager/DesignTimeBuild/.dtbcache.v2
/Wacom/Wacom.NUnitTests/bin/Debug/net8.0/fine-code-coverage/coverage-tool-output/diagnostics.datacollector.24-04-30_13-12-33_61311_6.log
/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/0df129fb-8c6c-4f87-82f8-7ed29713e2ff.vsidx
/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex
/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/2caebbf3-969e-4393-9669-60fbc0bf2167.vsidx
/Wacom/WacomFileManager/.vs/WacomFileManager/v17/TestStore/0/001.testlog
/Wacom/WacomFileManager/LocalDatabase.db
/Wacom/WacomFileManager/.vs/WacomFileManager/v17/.suo
