################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/2de490c8-1e26-4104-80d9-c842f2b0aab3.vsidx
/Wacom/WacomFileManager/.vs/WacomFileManager/FileContentIndex/5dab42c0-234e-4954-b525-d925e08473a9.vsidx
